doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/style.css')
  title Add Post
center
  h1 Add Post
.hedimg
  img(src='/image/Shopping-online.jpg' alt='' style='\
  height: 15em;\
  width: 100%;\
  ')
center
  ul.nav
      li.nav-item
        a.nav-link(href='/posts') Home
.FormContainer
  if(postsdetail)
    form.myForm(action='/posts/updatePost' method='post')
      label titre du Post:
      input(required='' type='text' name='titre' value=postsdetail.titre)
      label auteur De Post: 
      input(required='' type='text' name='auteur' value=postsdetail.auteur)
      label Resume De Post: 
      textarea(required='' type='text' name='resume') #{postsdetail.resume}
      label Content De Post:
      textarea(type="text" required='' name='content')
       | #{postsdetail.content}
      input(name='id' type = 'hidden' value=postsdetail.id)
      button(type='submit' style='\
      width: 30%;\
      margin: 20px auto;\
      padding: 10px;\
      background-color: red;\
      border: 1px;\
      border-radius: 10px;\
      color:black;\
      ') Update
  else
    form.myForm(action='/posts/add' method='post')
      label titre du Post:
      input(required='' type='text' name='titre')
      label auteur De Post: 
      input(required='' type='text' name='auteur')
      label Resume De Post: 
      textarea(required='' type="text" name='resume')
      label Content De Post:
      textarea(type="text" required='' name='content')
      button(type='submit' style='\
      width: 30%;\
      margin: 20px auto;\
      padding: 10px;\
      background-color: red;\
      border: 1px;\
      border-radius: 10px;\
      color:black;') Ajouter

